*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;

  
}

#sticky-notes {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-top: 180px;
  justify-content: flex-start;

  
}

.note {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #FFFFCC;
  margin: 10px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.note textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.note-actions {
  position: absolute;
  bottom: 5px;
  left: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.add-note {
  display: flex;
  position: fixed;
  justify-content: top;
  align-items: center;
  padding: 20px;
  top: 20px;
  background-color: #2bbed1;
}

.add-note textarea {
  height: 100px;
  border: 1px solid #CCCCCC;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
}

.add-note button {
  margin-left: 10px;
}



